<div class="main-container-two">
  <div class="text-center head mt-3 mb-4">
    <h2 class="text-white mt-4"><strong><%= @group.name.upcase %></strong></h2>
    <% if @myevents.length > 0 %>
    <h2 class="text-white mt-4">MY EVENTS</h2>
  </div>
  <div class="row">
      <% @myevents.each do |event| %>
      <div class="col-xl-6 col-12">
        <%= link_to group_event_path(event.group, event) do %>
          <div class="custom-card d-flex m-2 align-items-center">
            <% unless event.photo.identifier.nil? %>
            <img src="<%= event.photo %>">
            <% end %>
            <% if event.photo.identifier.nil? %>
              <div class="custom-card-info w-100 text-center m-0">
            <% else %>
              <div class="custom-card-info m-0">
            <% end %>
                <h3 class="m-0 pl-3"><%= event.name %></h3>
                <p class="m-0 pl-3"><%= event.address %></p>
              </div>
              <img src="<%= event.organizer.photo %>" alt="" class="organizer">
          </div>
        </div>
      <% end %>
    <% end %>
</div>
<% end %>
<% if @organizedevents.length > 0 %>
  <div class="text-center head mt-3 mb-4">
    <h2 class="text-white mt-4">UPCOMING EVENTS</h2>
  </div>
  <div class="row">
      <% @organizedevents.each do |event| %>
      <div class="col-xl-6 col-12">
        <%= link_to group_event_path(event.group, event) do %>
          <div class="custom-card d-flex m-2 align-items-center">
            <% unless event.photo.identifier.nil? %>
            <img src="<%= event.photo %>">
            <% end %>
              <div class="custom-card-info m-0">
                <h3 class="m-0 pl-3"><%= event.name %></h3>
                <p class="m-0 pl-3"><%= event.address %></p>
              </div>
              <img src="<%= event.organizer.photo %>" alt="" class="organizer">
          </div>
        </div>
    <% end %>
  <% end %>
</div>
<% end %>
<% if @proposedevents.length > 0 %>
  <div class="text-center head mt-3 mb-4">
    <h2 class="text-white">WISHLIST</h2>
  </div>
  <div class="row">
      <% @proposedevents.each do |event| %>
          <div class="col-lg-6 col-12">
            <div class="proposed-card d-flex m-1 align-items-center">
                <div class="proposed-card-info m-0">
                  <h3 class="m-0 pl-3"><%= event.name %></h3>
              <i class="fas fa-plus proposed-organizer"></i>
                </div>
            </div>
          </div>
        <% end %>
     <% end %>
</div>

<div class="text-center mt-4 mb-4">
  <button type="button" class="btn primary-button" data-toggle="modal" data-target="#exampleModalCenter">
    Create a new event
  </button>
</div>

<div class="text-center mt-4 pb-5">
  <%= link_to "Go Back", groups_path, class: "primary-button" %>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create a New Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@group, @event] do |f| %>
          <%= f.input :name, placeholder: "Your event's name"%>
      </div>
      <div class="modal-footer justify-content-center">
          <%= f.button :submit, "Propose", class: "secondary-button"%>
          <%= f.button :submit, "Organize", class: "primary-button"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
