<%= content_for(:title, "My upcoming events") %>
<div class="main-container-two">
  <div class="text-center head mt-3 mb-4">
    <h2 class="mt-4">MY UPCOMING EVENTS</h2>
  </div>
    <% if @myevents.length > 0 %>
<div class="row">
    <% @myevents.each do |event| %>
    <div class="col-xl-6 col-12">
        <%= link_to event_path(event) do %>
          <div class="custom-card mb-0 d-flex mt-2 mr-2 ml-2 align-items-center">
            <% unless event.photo.identifier.nil? %>
            <img src="<%= event.photo %>">
            <% end %>
            <% if event.photo.identifier.nil? %>
              <div class="custom-card-info w-100 text-center m-0 d-flex flex-column justify-content-center align-items-center">
            <% else %>
              <div class="custom-card-info m-0">
            <% end %>
            <div class="d-flex pl-3 align-items-center" >
              <div class="text-center">
                <h3 style="font-weight: lighter; color: #F25004;">NOV</h3>
                <h3>27</h3>
              </div>
              <div>
                <h3 class="m-0 pl-3"><%= event.name %></h3>
                <% if event.description.nil? || event.description.length > 44 || event.description == "" %>
                  <p class="m-0 pl-3"><%= event.address %></p>
                <% else %>
                  <p class="m-0 pl-3"><%= event.description %></p>
                <% end %>
              </div>
            </div>
              </div>
          </div>
            <p class="pb-2 pl-2 pt-0" style="opacity: .4; letter-spacing: 2px;margin-top: 7px; font-size: 0.8rem;">ORGANIZED BY: <%=event.organizer.name.upcase %> </p>
        </div>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>
