<h1>Event Details</h1>
<img src="<%= @event.photo %> " alt="">
<h2 style="text-align: center"><%= @event.name %></h2>
<%= link_to "Back to all events", group_path(@event.group), class: "secondary-button" %>
<%= link_to "Edit event", edit_group_event_path(@event.group, @event), class: "btn btn-light" %>
<%= link_to "Delete event", group_event_path(@event.group, @event), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-light" %>
